.social {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #404bbf;
  }

  .footer &:hover,
  .footer &:focus {
    background-color: #31d0aa;
  }
}

.social-link {
  fill: #f4f4fd;
}

.mobile-menu .social {
  justify-content: flex-start;
  gap: 40px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
